/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.user1 {
	-fx-background-image: url("/image/user1.png"); 
	-fx-background-size: contain;
	}
	
.user2 {
	-fx-background-image: url("/image/user2.png"); 
	-fx-background-size: contain;
	}